# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
POSTGRES_URL=postgresql://postgres:password@localhost:5432/conference?schema=public

# In order to get these variables, the project needs to be set up on Clerk (https://clerk.com/).
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Regarding the two Flowcore environmental variables, it is the datacore url (in the format https://webhook.api.flowcore.io/event/orgname/datacoreuuid, where orgname is your organization's slug and datacoreuuid is the uuid of your datacore) and the organization' api key (found at the bottom of e.g. https://flowcore.io/orgname/settings, where orgname is your organization's slug).
FLOWCORE_DATACORE=
FLOWCORE_KEY=