# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Postgres Database
# https://orm.drizzle.team/docs/get-started-postgresql
POSTGRES_URL=postgresql://postgres:password@localhost:5432/luttaka?schema=public

# In order to get these variables, the project needs to be set up on Clerk (https://clerk.com/).
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Flowcore base url (you rarely need to change this one)
FLOWCORE_WEBHOOK_BASEURL="https://webhook.api.flowcore.io"

# Flowcore webhook base url (you rarely need to change this one)
FLOWCORE_BASEURL="https://flowcore.io"

# Flowcore tenant (the organization name in Flowcore)
FLOWCORE_TENANT=""

# Flowcore datacore name
FLOWCORE_DATACORE=""

# Flowcore api key (used by webhook)
FLOWCORE_KEY=""

# Flowcore transformer secret
TRANSFORMER_SECRET=""

# Stripe env
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
WEBHOOK_SECRET=
